<div class="modal fade" id="donate-modal" role="dialog" aria-hidden="true" aria-labelledby="modalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="modalLabel">Donate to Oregon Dog PAC</h4>
      </div>
      <div class="modal-body">
        <p>
          <span class="h4">Making a donation to Oregon Dog PAC is easy.</span>
        </p>
        <p>
          <strong>Did you know your donation may be refundable through your State Tax Returns?</strong><br>
          <a href="/answers">Learn More <span class="glyphicon glyphicon-chevron-right"></span></a>
        </p>
        <div class="row">
          <div class="col-xs-6">
            <h3>Postal Donations</h3>
            <p>
              <strong>Send your donation to:</strong>
            </p>
            <address>
              Oregon Dog Political Action Committee<br>
              17236 NW Lucy Reeder Rd.<br>
              Portland, Oregon<br>
              97231
            </address>
          </div>
          <div class="col-xs-6">
            <h3>Online Donations</h3>
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="DP3VCXXGF9ZJ6">
              <button type="submit" class="btn btn-donate btn-xl uppercase" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!"><span class="glyphicon glyphicon-heart"></span> Donate Now</span></button>
              <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>
            <p><em>We will send a signed receipt to your shipping address for your records.</em></p>
          </div>
        </div>
          <p>
            <strong>Have Questions?</strong><br>
            Call Us at 971-340-3940, Email us at <a href="mailto:oregondogpac@gmail.com">oregondogpac@gmail.com</a>
          </p>
      </div>
    </div>
  </div>
</div>
