    <div class="hero">
        <img src="/images/hero-dog-in-field.jpg" />
        <div class="hero-bubble">
            <div class="bubble-header">
                <h1 class="bubble-heading shadow">Give Them A Voice</h1>
            </div>
            <div class="bubble-content">
                <p>In 2012 Multnomah County euthanizes over 27% of dogs and cats that entered their facilities. <a href="https://multcopets.org/reports-and-agency-statistics"><small>[source]</small></a> <a href="#" data-toggle="modal" data-target="#donate-modal">TAKE A STAND</a></p>
            </div>
        </div>
    </div>
