
<div class="sidebar-well">
	<h3>Our Friends</h3>

	<ul class="nav">
		<li><a href="http://www.gimmeshelterportland.org">Gimme Shelter</a></li>
		<li><a href="http://freeoregonzooelephants.org">Free The Oregon Zoo Elephants</a></li>
        <li><a href="http://www.sccpets.com/"></a>Second Chance Companions</li>
        <li><a href="http://www.seashepherd.org/"></a>Sea Shepherd</li>
        <li><a href="http://vetmed.oregonstate.edu/"></a>Oregon State School of Veterinary Medicine</li>
        <li><a href="http://www.austinpetsalive.org/"></a>Austin Pets Alive</li>
        <li><a href="http://nkla.org/"></a>NKLA</li>
	</ul>
</div>

<div class="sidebar-well">
	<h3>Protecting This</h3>

	<img src="/images/sidebar-dog.jpg" style="display: block; margin: 0 auto;" />

	<p>Oregon Dog PAC supports political candidates that work for the humane treatment of our companion pets.</p>
	<div class="form-group">
		<button class="btn btn-warning btn-lg btn-wide uppercase strong" data-toggle="modal" data-target="#donate-modal"><span class="glyphicon glyphicon-heart"></span> Donate Now</button>
	</div>
</div>
