<div class="modal fade" id="upcomingEvents-modal" role="dialog" aria-hidden="true" aria-labelledby="modalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="modalLabel">Upcoming events</h4>
      </div>
      <div class="modal-body">
        <p>
          <span class="h4">Pooches on the Plaza</span>
          <ul>
            <li>May 7th, 9:30</li>
            <li>A "Sniff and Wag" social event for all</li>
            <li>No dog? No problem! Adoptable dogs and cats will be here!</li>
            <li>Dog Washes</li>
            <li>$25 Vaccinations</li>
            <li>Thanks to Kiehl's and World Cup Coffee</li>
          </ul>
        </p>
        <p>
          <span class="h4">Animal Art Exhibit</span>
          <ul>
            <li>September thru October</li>
            <li>First Presbyterian Church, 12th and Alder</li>
          </ul>
        </p>
        <p>
          <span class="h4">Animal Conference</span>
          <div class="row">
            <div class="col-md-6">
              <ul>
                <li>September 30/October 1st</li>
                <li>Featuring world renowned speakers!</li>
                <li>In Defense of Animals: Africa</li>
                <li>Sea Shepherd</li>
                <li>No Kill Nation</li>
                <li>Rev. Audrey Schindler</li>
                <li>Oregon Dog PAC</li>
              </ul>
            </div>
            <div class="col-md-6">
              <img src="./images/1st_Pres_logo.jpg" alt="First Presbyterian Church" />
            </div>
          </div>
        </p>
        <p>
          <strong>Have Questions?</strong><br>
          Call Us at 971-340-3940, Email us at <a href="mailto:ordogpac@gmail.com">ordogpac@gmail.com</a>
        </p>
      </div>
    </div>
  </div>
</div>
