<div class="modal fade" id="upcomingEvents-modal" role="dialog" aria-hidden="true" aria-labelledby="modalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="modalLabel">Upcoming events</h4>
      </div>
      <div class="modal-body">
        <div>
          <span class="h4">Animal Art Exhibit</span>
          <div class="row">
            <div class="col-md-12">
              <ul>
                <li>September thru October 2016</li>
                <li><a href='https://goo.gl/maps/pdDn1wyD7St'>First Presbyterian Church, 12th and Alder</a></li>
              </ul>
            </div>
            <!--<div class="col-xs-2">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2795.451451529422!2d-122.68647944903077!3d45.5211200789991!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54950a0348652f95%3A0xc3db90907cfca1a!2sFirst+Presbyterian+Church!5e0!3m2!1sen!2sus!4v1468088422941" width="200" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>-->
          </div>
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2795.4514515243227!2d-122.68647408444068!3d45.52112007910172!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54950a0348652f95%3A0xc3db90907cfca1a!2sFirst+Presbyterian+Church!5e0!3m2!1sen!2sus!4v1468090391642" width="200" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
        <div>
          <span class="h4">Portland Animal Conference</span>
          <div class="row">
            <div class="col-md-12">
              <ul>
                <li>September 30th 6pm-9pm and October 1st 9am-4pm 2016</li>
                  <ul>
                    <li><a href='https://goo.gl/maps/pdDn1wyD7St'>First Presbyterian Church: 12th and Alder, Portland, Oregon</a></li>
                    <li>Free, Open to the Public</li>
                    <li>Activities for children & visit by therapy animals</li>
                  </ul>
                <li>Featuring world renowned speakers!</li>
                  <ul>
                    <li>Sherri Speede: Saving the Ocean's Creatures</li>
                    <li>Nathan Winograd: Building a No Kill Nation</li>
                    <li>Jennifer Winograd: Have Your Cake & Eat It Too: How to Embrace & Sustain a Plant-Based Diet</li>
                    <li>Rev. Audrey Schindler: Animals in Theology & Grieving the Loss of Your Pet</li>
                  </ul>
              </ul>
            </div>
          </div>
          <!--<div class="row">
            <div class="col-md-6 col-md-offset-3">
              <img src="./images/1st_Pres_logo.jpg" alt="First Presbyterian Church" />
            </div>
          </div>-->
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <a href="./images/PortlandConf.pdf"><img src="./images/PortlandConf_0001.jpg" alt="Portland Animal Conference September 30" />
              <figcaption>Click to download</figcaption></a>
            </div>
          </div>
        </div>
        <p>
          <strong>Have Questions?</strong><br>
          Call Us at 971-340-3940, Email us at <a href="mailto:ordogpac@gmail.com">ordogpac@gmail.com</a>
        </p>
      </div>
    </div>
  </div>
</div>
