<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{{site.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="css/style.css" type="text/css">

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  if((location.host != 'localhost')) {
    ga('create', 'UA-XXXXXX-X', 'oregondogpac.com');
    ga('send', 'pageview');
  }
</script>

</head>

<body class="{{page.class}}">

<div class="navbar-wrapper">
  <div class="container">
            <nav class="navbar navbar-inverse" role="navigation">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="#">Oregon Dog PAC</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav">
                    <li class="nav-about"><a href="#">About</a></li>
                    <li class="nav-donate"><a href="#">Donate</a></li>
                    <li class="nav-qanda"><a href="#">Q &amp; A</a></li>
                    <li class="nav-resources"><a href="#">Resources</a></li>
                    <li class="nav-contact"><a href="#">Contact</a></li>
                  </ul>
                </div><!-- /.navbar-collapse -->
            </nav>
  </div><!-- /.container -->
</div><!-- /.navbar-wrapper -->


{{content}}

<script src="js/vendor/jquery-1.11.0.min.js"></script>
<script src="js/vendor/bootstrap/collapse.js"></script>
<script src="js/vendor/bootstrap/transition.js"></script>
<script src="js/vendor/bootstrap/modal.js"></script>
<script src="js/vendor/filamentgroup/responsive-carousel.min.js"></script>
  <script src="js/vendor/filamentgroup/responsive-carousel.pagination.min.js"></script>
<script src="js/vendor/filamentgroup/responsive-carousel.autoplay.min.js"></script>
<script>
  //$( ".carousel" ).carousel();
</script>

</body>
</html>
