{% include head.html navigation=site.navigation url=page.url %}

    {% if page.header %}

      {% include {{page.header}} %}

    {% endif %}

    <div class="container">

        <div class="row">
          <div class="body-content col-md-9">
            {{content}}
          </div>

          <div class="sidebar-content col-md-3">
            {% include sidebar.html %}
          </div>
        </div>

    </div><!-- /.container -->

    <div class="row">
      <div class="copyright col-xs-12">
          <div class="container">
              <p class="text-muted"><small>&copy; 2014 Oregon Dog Political Action Committee. All Rights Reserved.</small>
              <a target="_top"  href="https://www.facebook.com/Oregon-Dog-PAC-1423878187935303/"><i class="fa fa-facebook-official fa-lg"></i></a>
              <a target="_top" href="https://twitter.com/ordogpac"><i class="fa fa-twitter fa-lg"></i></a>
              </p>
          </div>
      </div>
    </div>

{% include foot.html %}
{% include donatemodal.html %}
